div {
    text-align: center;
    font-size: 35px;
    
}
a:hover {
    background: white;
}

body {
    background: url("http://static.tumblr.com/74b8ff8ad82d58d40e14c183f22d3e30/7yeef43/vj4nqcm33/tumblr_static_1k0mqklm4t28gsk4scc8wogk0.jpg");
}
h1{
    border-style: inset;
    border-width: thick;
    background: white;
}
a {
    border-style: inset;
    border-width: .3em;
    display: block;
    width: 130px;
    height: auto;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    width: 130px;
    height: auto;
     -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: black;
}
img:hover {
    height: 280px;
    width: auto;
}
img{
    height: 35px;
    width: auto;
    border-style: inset;
    border-width: thick;
    border-color: black;
}
.panda {
    text-align: left;
    font-size: 20px;
    
}
.littlepanda {
    height: 280px;
    width: auto;
    margin-right: 50em;
    margin-left: auto;
}
a2 {
    text-align: left;
}
.pandaboi:hover {
    height: 150px;
    width: auto;
}
.body1 {
    background: url("http://media2.fdncms.com/nuvo/imager/the-icy-inevitability-of-foxboro/u/original/3015208/winter.jpg");
}
.bigpanda {
    height: 280px;
    width: auto;
}
.redpanda {
     height: 280px;
    width: auto;
}