/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2015, 6:57:24 PM
    Author     : Student
*/

.sadboy {
    height: 250px;
    width: auto;
}
body {
    background: url("https://newevolutiondesigns.com/images/freebies/black-white-background-2.jpg");
}
    .sad {
        background: gray;
    }
    .pandaboi:hover {
    height: 150px;
    width: auto;
}
.pandaboi {
    height: 35px;
    width: auto;
}