h1, h2{
   background: gray;
}

h1, h2 {
    text-align: center;
    border-style: ridge;
    border-width: thick;
}


img{
    height: 35px;
    width: auto;
}
.body1 {
    background: url("http://therespite.org/wp-content/uploads/2014/06/e7cdcbf45156d19ba7960814f916d8ee.jpg");
}
.link:hover{
    background: white;
}
li{
    text-align: left;
    font-size: .5em;
}
.panda{
    height: 250px;
    width: auto;
    border-style: inset;
    border-width: thick;
    border-color: white;
}
.link{
    color: black;
}
.sm{
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: thick;
    border-color: #93BEBF;
}
     
footer{
    margin-left: auto;
    width: 200px;
    margin-right: auto;
}
.contact, .contest{
    text-align:  center;
}
.contact {
    font-size: 30px;
    border-style: ridge;
    border-width: thick;
}
.sm:hover {
    background-color: white;
}
.body2 {
    background: url("http://m6nsh.com/9or//HLIC/9f8fc451dc334e80cb5369cea3ffe37b.jpg");
}
.img1 {
    height: 200px;
    width: auto;
}
.img1:hover {
    height: 300px;
    width: auto;
}
img:hover {
    height: 280px;
    width: auto;
}
.sm:hover {
    height: 50px;
    width: auto;
}
iframe {
    border-style: inset;
    border-width: thick;
}
.kfp {
     height: 280px;
    width: auto;
}
.contest {
    font-size: 5em;
}
.contact {
     background: white;
}
.home {
    color: black;
}
.home:hover {
    background: white;
}
.pandaboi:hover {
    height: 150px;
    width: auto;
}
.pg {
    background: gray;
    border-style: dotted;
    border-width: thick;
}
h1, h2 {
    background: url("http://media2.fdncms.com/nuvo/imager/the-icy-inevitability-of-foxboro/u/original/3015208/winter.jpg");
}
.copy {
    text-align: center;
    font-size: .5em;
    color: white;
}

